<div id="new-message-form-errors"></div>

<%= form_for @message, :html => {:id => 'new-message-form' } do |f| %>
  <div class="field">
    To <span id="receiver-name"></span><br>
    <%= f.hidden_field :receiver_id %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
