<h2>Log in</h2>

<div id="log-in-form-errors" class="form-errors"></div>

<%= form_tag '/sessions/create', :id => 'log-in-form' do %>
  <p>
    <%= label_tag :name %><br />
    <%= text_field_tag :name, params[:name] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>