<h1>Listing dibs</h1>

<table>
  <thead>
    <tr>
      <th>Ip</th>
      <th>Valid until</th>
      <th>Status</th>
      <th>Creator</th>
      <th>Post</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dibs.each do |dib| %>
      <tr>
        <td><%= dib.ip %></td>
        <td><%= dib.valid_until %></td>
        <td><%= dib.status %></td>
        <td><%= dib.creator_id %></td>
        <td><%= dib.post_id %></td>
        <td><%= link_to 'Show', dib %></td>
        <td><%= link_to 'Edit', edit_dib_path(dib) %></td>
        <td><%= link_to 'Destroy', dib, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dib', new_dib_path %>
