<p id="notice"><%= notice %></p>

<p>
  <strong>Ip:</strong>
  <%= @dib.ip %>
</p>

<p>
  <strong>Valid until:</strong>
  <%= @dib.valid_until %>
</p>

<p>
  <strong>Status:</strong>
  <%= @dib.status %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @dib.creator_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @dib.post_id %>
</p>

<%= link_to 'Edit', edit_dib_path(@dib) %> |
<%= link_to 'Back', dibs_path %>
