<%
  logger.info {current_user.to_yaml}
  if current_user
    @user = current_user
%>
    <div id="my-stuff-form-errors" class="form-errors"></div>

    <%= form_for @user, :html=> {:id => 'my-stuff-form'} do |f| %>
        <p>
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </p>
        <p>
          <%= f.label :phone_number %><br />
          <%= f.text_field :phone_number %>
        </p>
        <p>
          <%= f.label :password, 'New password' %><br />
          <%= f.password_field :password %>
        </p>
        <p>
          <%= f.label :password_confirmation, 'New password confirmation' %><br />
          <%= f.password_field :password_confirmation %>
        </p>
        <p class="button"><%= f.submit %></p>
    <% end %>
<% end %>