<h2>Sign Up</h2>

<div id="sign-up-form-errors" class="form-errors"></div>

<%= form_for @user, :html=> {:id => 'sign-up-form'} do |f| %>
  <p>
    <%= f.label :name %> *<br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %> *<br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %> *<br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %> *<br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>

    <%= f.label :invite_code %> * <br />
    <%= f.text_field :invite_code %>
  </p>
  </p>
    Email <%= mail_to 'wsofficejunction@gmail.com' %> <br />
     to get your invite code!
  </p>
  <!--
  <p>
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </p>
  -->
  <%= raw recaptcha_tags %>
  <p class="button"><%= f.submit "Sign Up" %></p>
<% end %>

