<%= form_for @post, :html => { :multipart => true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="image">
    <%= f.file_field :image %>
  </div>
    <div class="field">
      <%= f.label :latitude %><br>
      <%= f.text_field :latitude %>
    </div>
    <div class="field">
      <%= f.label :longitude %><br>
      <%= f.text_field :longitude %>
    </div>
    <div class="field">
      <%= f.label :address %><br>
      <%= f.text_area :address %>
    </div>
    <div class="field">
      <label for="post_on_the_curb_0">Contact me for details</label> <%= f.radio_button :on_the_curb, "0" %><br>
      <label for="post_on_the_curb_1">On the curb</label> <%= f.radio_button :on_the_curb, "1" %>
    </div>
    <div class="field" id="phone-number-field">
      <%= f.label :phone_number %><br>
      <%= f.text_field :phone_number %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
