<div id="give-stuff-form-errors" class="form-errors"></div>

<%= form_for @post, :html => {:id => 'give-stuff-form' } do |f| %>
  <div class="image">
    <label>Upload Image *</label>
    <div class="fileUpload btn btn-primary">
      <span>Upload</span>
      <input type="file" name="post[image]" id="post_image" class="upload" accept="image/png,image/gif,image/jpeg">
    </div>
    <input id="uploadFile" placeholder="Choose a picture" disabled="disabled" />

    <%= f.hidden_field :image_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <label>Click Stuff Location</label><br>
    <div id="minimap-canvas" style="width: 238px; height: 238px;"></div>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
  </div>
  <div class="field">
    <label>Pickup</label><br>
    <%= f.radio_button :on_the_curb, "true" %> <label for="post_on_the_curb_true">On the curb</label><br>
    <%= f.radio_button :on_the_curb, "false" %> <label for="post_on_the_curb_false">Contact me for details</label><br>
  </div>
  <div class="field" id="phone-number-field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
<% end %>
