<h1>Listing posts</h1>

<%= paginate @posts %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Dibbed until</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td>
          <%= image_tag post.image.url(:medium) %>
        </td>
        <td><%= post.latitude %></td>
        <td><%= post.longitude %></td>
        <td><%= post.dibbed_until %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Dib', dib_post_path(post), method: :dib %></td>
      </tr>
      <div id="map-canvas" style="width: 400px; height: 400px;"></div>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true">
      </script>
    <script type="text/javascript">
      function initialize() {
        var myLatlng = new google.maps.LatLng(<%= post.latitude %>,<%= post.longitude %>);
        var mapOptions = {
          center: myLatlng,
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Hello World!'
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>

<% if current_user %>
  <%= link_to 'New Post', new_post_path %>
<% end %>

