<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @post.image_url %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @post.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @post.longitude %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @post.ip %>
</p>

<p>
  <strong>Dibbed until:</strong>
  <%= @post.dibbed_until %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @post.creator_id %>
</p>

<%= link_to 'Back', posts_path %>
