<!DOCTYPE html>
<html>
<head>

  <title>Stuffmapper</title>
   <meta name="description" content="Stuffmapper - Free stuff nearby!">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <%= stylesheet_link_tag    "application", media: "all" %>

    <% if @omniuser %>
      <%= javascript_tag do %>
        localStorage.setItem('sMToken', JSON.stringify(<%= raw @omniuser.to_json %>) )
      <% end %>
    <% end %>

  <%= javascript_include_tag "application" %>
  <script src="//use.typekit.net/lrm3jdv.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <%= csrf_meta_tags %>
   <base href="/"> </base>

</head>

<%= yield %>

</html>
