<!DOCTYPE html>
<html>
<head>

  <title>Stuffmapper</title>
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>





</head>

  <body ng-app="stfmpr" ng-controller="MapsController as mappy">
 
       
       <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to image_tag('logo-wo-bg.png'), root_path, class: "navbar-brand"  %>
             
              </div>

            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>
        <!-- Static navbar -->
                     <ui-gmap-google-map center='map.center' zoom='map.zoom' ></ui-gmap-google-map>
                     <ui-gmap-marker
        idKey='1'
        coords= '{latitude: 47.547240099999996, longitude:-122.38658799999999}'
        >
</ui-gmap-marker>
        
  <%= yield %>
   

        <!-- Main component for a primary marketing message or call to action -->

  </body>

</html>
